<ion-header mode='ios' no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" mode="md" (click)="go_back()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg"> 
  <div class="container" *ngIf="paymentService.is_payment_successful">
    <h5 style="margin-top: 4em;">{{status}}</h5>
    <h2 ><strong>{{name}}</strong>&nbsp;</h2>
    <h1 ><strong>₹&nbsp;{{amount}}</strong> &nbsp;<ion-icon class="tick" name="checkmark-circle" mode="ios"></ion-icon></h1>
    <br>
    <br>
    <h3>{{get_timestamp()}}</h3>
  </div>
</ion-content>
